<div class="flex flex-col w-full md:w-64 text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0"
            x-data="{ open: false }">
            <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between mt-8">
                <a href="#">
                    <svg id="Component_109" data-name="Component 109" xmlns="http://www.w3.org/2000/svg" width="150"
                        height="33.42" viewBox="0 0 150 33.42">
                        <g id="Logo" transform="translate(1667.093 -1764.38)">
                            <path id="Path_16" data-name="Path 16"
                                d="M-1647.848,1800.872a8.886,8.886,0,0,0-1.89-2.81,8.961,8.961,0,0,0-2.8-1.882,8.542,8.542,0,0,0-3.454-.7h-11.1v21.533h4.764v-4.04h5.553a12.257,12.257,0,0,0,4.2-.666,8.229,8.229,0,0,0,3.012-1.832,7.8,7.8,0,0,0,1.8-2.744,9.318,9.318,0,0,0,.615-3.4A8.535,8.535,0,0,0-1647.848,1800.872Zm-4.3,5.09a4.23,4.23,0,0,1-.732,1.4,3.449,3.449,0,0,1-1.281.963,4.356,4.356,0,0,1-1.832.362h-6.335V1799.7h5.821a4.586,4.586,0,0,1,1.977.406,4.6,4.6,0,0,1,1.426,1.057,4.59,4.59,0,0,1,.883,1.484,4.691,4.691,0,0,1,.312,1.68A5.561,5.561,0,0,1-1652.149,1805.962Z"
                                transform="translate(0 -21.909)" fill="#bfbfbf" />
                            <path id="Path_17" data-name="Path 17"
                                d="M-1577.433,1808.989a8.648,8.648,0,0,0,1.412-4.931,9.218,9.218,0,0,0-.63-3.454,8.007,8.007,0,0,0-1.752-2.722,7.813,7.813,0,0,0-2.708-1.774,9.391,9.391,0,0,0-3.5-.63h-11.317v21.533h4.764v-4.547h4.714c.948,1.361,1.9,2.7,2.853,4.011.13.181.261.354.391.536h5.734q-1.847-2.509-3.729-5A7.841,7.841,0,0,0-1577.433,1808.989Zm-3.707-3.1a4.15,4.15,0,0,1-.9,1.31,3.384,3.384,0,0,1-1.238.782,3.789,3.789,0,0,1-1.34.261h-6.545V1799.7h6.545a3.685,3.685,0,0,1,2.006.478,3.585,3.585,0,0,1,1.151,1.158,4.328,4.328,0,0,1,.543,1.426,7.727,7.727,0,0,1,.13,1.3A4.355,4.355,0,0,1-1581.14,1805.89Z"
                                transform="translate(-48.093 -21.909)" fill="#bfbfbf" />
                            <path id="Path_18" data-name="Path 18"
                                d="M-1499.063,1795.4a13.48,13.48,0,0,0-2.887-4.282,13.616,13.616,0,0,0-4.267-2.9,13,13,0,0,0-5.247-1.063,12.954,12.954,0,0,0-5.21,1.063,13.617,13.617,0,0,0-4.267,2.9,13.616,13.616,0,0,0-2.887,4.282,13.052,13.052,0,0,0-1.063,5.224,13,13,0,0,0,1.063,5.247,13.627,13.627,0,0,0,2.827,4.207l.06.06a13.591,13.591,0,0,0,4.267,2.888,12.959,12.959,0,0,0,5.21,1.063,13.009,13.009,0,0,0,5.247-1.063,13.59,13.59,0,0,0,4.267-2.888l.06-.06a13.49,13.49,0,0,0,2.827-4.207,13,13,0,0,0,1.063-5.247A13.052,13.052,0,0,0-1499.063,1795.4Zm-20.2,1.877a9.153,9.153,0,0,1,1.824-2.812,8.808,8.808,0,0,1,2.684-1.93,7.565,7.565,0,0,1,3.309-.731,7.558,7.558,0,0,1,3.3.731,8.926,8.926,0,0,1,2.691,1.93,9.118,9.118,0,0,1,1.817,2.812,8.561,8.561,0,0,1,.671,3.347,8.51,8.51,0,0,1-.671,3.37,9.515,9.515,0,0,1-1.817,2.819,8.839,8.839,0,0,1-2.691,1.945,7.66,7.66,0,0,1-3.3.724,7.667,7.667,0,0,1-3.309-.724,8.724,8.724,0,0,1-2.684-1.945,9.553,9.553,0,0,1-1.824-2.819,8.646,8.646,0,0,1-.671-3.37A8.7,8.7,0,0,1-1519.26,1797.274Z"
                                transform="translate(-97.55 -16.286)" fill="#bfbfbf" />
                            <path id="Path_19" data-name="Path 19"
                                d="M-1413.062,1800.872a8.878,8.878,0,0,0-1.889-2.81,8.994,8.994,0,0,0-2.809-1.882,8.518,8.518,0,0,0-3.454-.7h-11.092v21.533h4.764v-4.04H-1422a12.3,12.3,0,0,0,4.207-.666,8.288,8.288,0,0,0,3.012-1.832,8,8,0,0,0,1.8-2.744,9.313,9.313,0,0,0,.608-3.4A8.647,8.647,0,0,0-1413.062,1800.872Zm-4.308,5.09a4.093,4.093,0,0,1-.731,1.4,3.367,3.367,0,0,1-1.274.963,4.39,4.39,0,0,1-1.839.362h-6.328V1799.7h5.821a4.554,4.554,0,0,1,1.969.406,4.549,4.549,0,0,1,1.433,1.057,4.587,4.587,0,0,1,.884,1.484,4.846,4.846,0,0,1,.3,1.68A5.562,5.562,0,0,1-1417.369,1805.962Z"
                                transform="translate(-160.938 -21.909)" fill="#2bb673" />
                            <path id="Path_20" data-name="Path 20"
                                d="M-1344.1,1795.478v10.788h-12.28v-10.788h-4.764v21.533h4.764v-6.524h12.28v6.524h4.764v-21.533Z"
                                transform="translate(-209.763 -21.909)" fill="#2bb673" />
                            <path id="Path_21" data-name="Path 21" d="M-1275.077,1795.59v21.5h4.764v-21.5Z"
                                transform="translate(-268.922 -21.984)" fill="#2bb673" />
                            <path id="Path_22" data-name="Path 22"
                                d="M-1249.263,1795.478v4.221h6.886v17.312h4.764V1799.7h6.886v-4.221Z"
                                transform="translate(-286.366 -21.909)" fill="#2bb673" />
                            <circle id="Ellipse_5" data-name="Ellipse 5" cx="2.308" cy="2.308" r="2.308"
                                transform="translate(-1611.667 1764.38)" fill="#2bb673" />
                        </g>
                    </svg>
                </a>

                <button class="rounded-lg md:hidden rounded-lg focus:outline-none focus:shadow-outline">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <nav :class="{'block': open, 'hidden': !open}" class="mt-10 flex-grow md:block px-4 pb-4 md:pb-0 ">
                <a class="block px-4 py-2 mt-2 text-base font-semibold text-gray-900 montserrat rounded-lg sidebar-text active-sidebar"
                routerLink="/dashboard">Dashboard</a>
                <a class="block px-4 py-2 mt-2 text-base font-semibold text-gray-900 montserrat rounded-lg sidebar-text"
                    href="#">Products</a>
                <div class="relative" x-data="{ open: false }">
                    <button
                        class="flex flex-row justify-between items-center w-full px-4 py-2 mt-2 text-base font-semibold rounded-lg text-left sidebar-text">
                        <span>Inventory</span>
                        <svg fill="currentColor" class="inline transition-transform duration-200 transform mt-1"
                            width="10px" height="10px" viewBox="0 0 451.846 451.847">
                            <path
                                d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z" />
                        </svg>
                    </button>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="transform opacity-0 scale-95"
                        x-transition:enter-end="transform opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-75"
                        x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95"
                        class="right-dropdown w-full mt-2 rounded-md shadow-lg">
                        <div class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800">
                            <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 montserrat rounded-lg sidebar-text"
                                href="#">Ingredients</a>
                            <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 montserrat rounded-lg sidebar-text"
                                href="#">Materials</a>
                        </div>
                    </div>
                </div>
                <div class="relative" x-data="{ open: false }">
                    <button
                        class="flex flex-row justify-between w-full px-4 py-2 mt-2 text-base font-semibold rounded-lg text-left sidebar-text">
                        <span>Assembly</span>
                        <svg fill="currentColor" class="inline transition-transform duration-200 transform mt-2"
                            width="10px" height="10px" viewBox="0 0 451.846 451.847">
                            <path
                                d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z" />
                        </svg>
                    </button>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="transform opacity-0 scale-95"
                        x-transition:enter-end="transform opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-75"
                        x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95"
                        class="right-dropdown w-full mt-2 rounded-md shadow-lg">
                        <div class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800">
                            <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 montserrat rounded-lg sidebar-text"
                                href="#">Recipe</a>
                            <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 montserrat rounded-lg sidebar-text"
                                href="#">Products</a>
                            <a class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 montserrat rounded-lg sidebar-text"
                                href="#">Packaging</a>
                        </div>
                    </div>
                </div>
                <div class="border-t-2 mt-8"></div>
                <a class="block px-4 py-2 mt-2 text-base font-semibold text-gray-900 montserrat rounded-lg sidebar-text"
                    href="#" >Settings</a>

            </nav>
        </div>