<!-- dashboard header-body -->
<div class="flex justify-between">
    <!-- 1st col -->
    <div class="hidden lg:flex">
        <!-- search bar -->
        <div class="pt-2 relative mx-auto text-gray-600 " style="width:350px;">
            <input
                class=" bg-white h-10 w-full px-5 pr-16 py-3 rounded-lg text-sm focus:outline-none placeholder-text"
                type="search" name="search" placeholder="Search">
            <button type="submit" class="absolute right-0 top-0 mt-4 mr-4">
                <svg class="text-black h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                    viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                    xml:space="preserve" width="512px" height="512px">
                    <path
                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                </svg>
            </button>
        </div>
        <!-- achor link -->
        <a class="block pl-10 py-2 mt-2 text-lg font-semibold text-gray-600 montserrat rounded-lg "
            href="#">Updates</a>
        <a class="block px-10 py-2 mt-2 text-lg font-semibold text-gray-600 montserrat rounded-lg "
            href="#">Help</a>

    </div>
    <!-- 2nd col -->
    <div class="hidden lg:flex">
        <div class="">
            <div x-data="{ dropdownOpen: false }" class="relative ">
                <button
                    class="mt-2    relative z-10 flex rounded-md p-2 font-semibold text-gray-600 montserrat rounded-lg focus:outline-none">
                    Maile Swint
                    <svg class="h-5 w-5 text-gray-800 ml-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                </button>

                <div x-show="dropdownOpen" class="fixed inset-0 h-full w-full z-10"></div>

                <div x-show="dropdownOpen"
                    class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
                    <a href="#"
                        class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg sidebar-text">Your
                        profile</a>
                    <a href="#"
                        class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg sidebar-text">
                        Sign Out</a>
                </div>
            </div>
        </div>
        <div class="profile">
            <p class="text-white text-lg font-semibold montserrat text-center pt-3">MS</p>
        </div>
    </div>
</div>
<!-- for mobile -->
<div class="block lg:hidden">
    <!-- 1st row -->
    <div class="flex-row">
        <!-- search bar -->
        <div class="pt-2 relative mx-auto text-gray-600">
            <input
                class=" bg-white h-10 w-full px-5 pr-16 py-3 rounded-lg text-sm focus:outline-none placeholder-text"
                type="search" name="search" placeholder="Search">
            <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                <svg class="text-black h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                    viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                    xml:space="preserve" width="512px" height="512px">
                    <path
                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                </svg>
            </button>
        </div>
    </div>
    <!-- 2nd row -->
    <div class=" ">
        <div class="flex flex-row px-6 py-6">
            <!-- achor link -->
            <a class="block pr-5 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg "
                href="#">Updates</a>
            <a class="block pr-5 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg "
                href="#">Help</a>
            <div x-data="{ dropdownOpen: false }" class="relative pr-5">
                <button
                    class="mt-2 relative z-10 text-sm flex rounded-md p-2 font-semibold text-gray-600 montserrat rounded-lg focus:outline-none">
                    Maile Swint
                    <svg class="h-5 w-5 text-gray-800 ml-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                </button>

                <div x-show="dropdownOpen" class="fixed inset-0 h-full w-full z-10"></div>

                <div x-show="dropdownOpen"
                    class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
                    <a href="#"
                        class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg sidebar-text">Your
                        profile</a>
                    <a href="#"
                        class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg sidebar-text">
                        Sign Out</a>
                </div>
            </div>
            <div class="profile">
                <p class="text-white text-lg font-semibold montserrat text-center pt-3">MS</p>
            </div>
        </div>
    </div>
</div>