<section>
    <!-- component -->
    <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
        <!-- body -->
        <section id="body" class="w-full">
            <div class="container px-4 lg:px-10 py-8">
                <!-- dashboard header-body -->
                <app-header></app-header>

                <!-- dashboard body -->
                <section id="dashboard-body">
                    <div class="dashboard-body mt-12">
                        <form [formGroup]="merchantForm" (ngSubmit)="onSubmit()">
                            <div class="dashboard-text grid grid-cols-1 lg:grid-cols-2">
                                <p class="text-gray-brand montserrat text-3xl ">Settings</p>
                                <div class="flex flex-col lg:flex-row justify-end" *ngIf="saved">
                                    <div class="mt-4">
                                        <p class="montserrat text-brand-green text-base font-semibold text-right">Saved
                                            <i class="fas fa-check-circle"></i>
                                        </p>
                                    </div>
                                </div>
                                <div class="flex flex-col lg:flex-row justify-end" *ngIf="!saved">
                                    <button
                                        class="montserrat border-2 shadow border-black rounded-full w-full lg:w-1/5 h-12 mr-4 mt-5">Cancel</button>
                                    <button
                                        class="montserrat text-brand-green bg-white rounded-full w-full lg:w-1/5 h-12 mt-5 shadow">Save</button>
                                </div>
                            </div>
                            <div class="grid grid-col-1 lg:grid-cols-4 mt-8 gap-3">
                                <div class="col-span-12 lg:col-span-1">
                                    <div class=" bg-white rounded-2xl">
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Account</p>
                                        </div>
                                        <div class="border-b">
                                            <p routerLink="/facility-labour"
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Facility & Labor</p>
                                        </div>
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 active-text cursor-pointer">
                                                Merchant</p>
                                        </div>
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Decimals & Round Ups</p>
                                        </div>
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Privacy & Security</p>
                                        </div>
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                About</p>
                                        </div>
                                        <div class="">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Help</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-12 lg:col-span-3">
                                    <div class="bg-white rounded-xl w-full">
                                        <div class="w-full p-6">
                                            <p class="montserrat text-xl font-medium text-gray-brand mt-2">Merchant Fee
                                                Per Transaction</p>
                                            <div class="flex flex-col lg:flex-row mt-5">
                                                <div class=" ">
                                                    <div class="mb-6 lg:mb-0">
                                                        <label
                                                            class="block montserrat text-gray-700 text-sm font-medium mb-2"
                                                            for="username">
                                                            Percent
                                                        </label>
                                                        <input
                                                            class="border-brand-green border montserrat rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                            formControlName="percentage_value" type="number"
                                                            placeholder="0%">
                                                        <div
                                                            *ngIf="f.percentage_value.touched && f.percentage_value.invalid">
                                                            <span class="error-text"
                                                                *ngIf="f.percentage_value.errors?.min">{{'Enter
                                                                possitive number!'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mx-0 lg:mx-8">
                                                    <div class="">
                                                        <label
                                                            class="block montserrat text-gray-700 text-sm font-medium mb-2"
                                                            for="username">
                                                            Fixed
                                                        </label>
                                                        <input
                                                            class="border-brand-green montserrat border rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            formControlName="fixed_value" type="number"
                                                            placeholder="$0.00">
                                                        <div *ngIf="f.fixed_value.touched && f.fixed_value.invalid">
                                                            <span class="error-text"
                                                                *ngIf="f.fixed_value.errors?.min">{{'Enter
                                                                possitive number!'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>