<section>
    <!-- component -->
    <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
        <!-- body -->
        <section id="body" class="w-full">
            <div class="container px-4 lg:px-10 py-8">
                <!-- dashboard header-body -->
                <section id="dashboard-header">
                    <!-- dashboard header-body -->
                    <app-header></app-header>
                    <!-- for mobile -->

                </section>

                <!-- dashboard body -->
                <section id="dashboard-body">
                    <div class="dashboard-body mt-12">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="dashboard-text grid grid-cols-1 lg:grid-cols-2">
                                <p class="text-gray-brand montserrat text-3xl ">Settings</p>
                                <div class="flex flex-col lg:flex-row justify-end" *ngIf="saved">
                                    <div class="mt-4">
                                        <p class="montserrat text-brand-green text-base font-semibold text-right">Saved
                                            <i class="fas fa-check-circle"></i>
                                        </p>
                                    </div>
                                </div>
                                <div class="flex flex-col lg:flex-row justify-end" *ngIf="!saved">
                                    <button
                                        class="montserrat border-2 shadow border-black rounded-full w-full lg:w-1/5 h-12 mr-4 mt-5">Cancel</button>
                                    <button
                                        class="montserrat text-brand-green bg-white rounded-full w-full lg:w-1/5 h-12 mt-5 shadow"
                                        [disabled]="!form.valid">Save</button>
                                </div>
                            </div>
                            <div class="grid grid-col-1 lg:grid-cols-4 mt-8 gap-3">
                                <div class="col-span-12 lg:col-span-1">
                                    <div class=" bg-white rounded-2xl">
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Account</p>
                                        </div>
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 active-text cursor-pointer">
                                                Facility & Labor</p>
                                        </div>
                                        <div class="border-b">
                                            <p class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer"
                                                routerLink="/merchant-fee">Merchant</p>
                                        </div>
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Decimals & Round Ups</p>
                                        </div>
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Privacy & Security</p>
                                        </div>
                                        <div class="border-b">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                About</p>
                                        </div>
                                        <div class="">
                                            <p
                                                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                                                Help</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-span-12 lg:col-span-3">
                                    <div class="bg-white rounded-xl w-full">
                                        <div class="w-full border-b-2 p-6">
                                            <p class="montserrat text-xl font-medium text-gray-brand mt-2">Production
                                            </p>
                                            <div class="flex flex-col lg:flex-row mt-5">
                                                <div class=" ">
                                                    <div class="mb-6 lg:mb-0">
                                                        <label
                                                            class="block montserrat text-gray-700 text-sm font-medium mb-2"
                                                            for="username">
                                                            Production Days Per Month
                                                        </label>
                                                        <input
                                                            class="border-brand-green border montserrat rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                            formControlName="prod_days_per_month" type="number"
                                                            (change)="onChange_prod_days_per_month($event)"
                                                            placeholder="0">
                                                        <div
                                                            *ngIf="f.prod_days_per_month.touched && f.prod_days_per_month.invalid">
                                                            <span class="error-text"
                                                                *ngIf="f.prod_days_per_month.errors?.min">
                                                                {{'Enter positive number!'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mx-0 lg:mx-8">
                                                    <div class="">
                                                        <label
                                                            class="block montserrat text-gray-700 text-sm font-medium mb-2"
                                                            for="username">
                                                            Production Hours Per Day
                                                        </label>
                                                        <input
                                                            class="border-brand-green montserrat border rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            formControlName="prod_hour_per_month" type="number"
                                                            (change)="onChange_prod_hour_per_month($event)"
                                                            placeholder="0">
                                                        <div
                                                            *ngIf="f.prod_hour_per_month.touched && f.prod_hour_per_month.invalid">
                                                            <span class="error-text"
                                                                *ngIf="f.prod_hour_per_month.errors?.min">
                                                                {{'Enter positive number!'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full p-6">
                                            <p class="montserrat text-xl font-medium text-gray-brand mt-2">Expenses</p>
                                            <div class="flex flex-col lg:flex-row mt-5">
                                                <div class=" ">
                                                    <div class="mb-6 lg:mb-0">
                                                        <label
                                                            class="block montserrat text-gray-700 text-sm font-medium mb-2"
                                                            for="username">
                                                            Facility Costs Per Month
                                                        </label>
                                                        <input
                                                            class="border-brand-green montserrat border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                            formControlName="facility_cost_per_month" type="number"
                                                            (change)="onChange_facility_cost_per_month($event)"
                                                            placeholder="$0.00">
                                                        <div
                                                            *ngIf="f.facility_cost_per_month.touched && f.facility_cost_per_month.invalid">
                                                            <span class="error-text"
                                                                *ngIf="f.facility_cost_per_month.errors?.min">
                                                                {{'Enter positive number!'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mx-0 lg:mx-8">
                                                    <div class="">
                                                        <label
                                                            class="block text-gray-700 montserrat text-sm font-medium mb-2"
                                                            for="username">
                                                            Facility Costs Per Hour
                                                        </label>
                                                        <input
                                                            class="border-brand-green montserrat border rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            formControlName="facility_cost_per_hour" type="number"
                                                            placeholder="$0.00">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex flex-col lg:flex-row mt-5">
                                                <div class="">
                                                    <div class="mb-6 lg:mb-2">
                                                        <label
                                                            class="block text-gray-700 montserrat text-sm font-medium mb-2"
                                                            for="username">
                                                            Labor Costs Per Month
                                                        </label>
                                                        <input
                                                            class="border-brand-green montserrat border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                            formControlName="labour_cost_per_month" type="number"
                                                            placeholder="$0.00">
                                                    </div>
                                                </div>
                                                <div class="mx-0 lg:mx-8">
                                                    <div class="">
                                                        <label
                                                            class="block text-gray-700 montserrat text-sm font-medium mb-2"
                                                            for="username">
                                                            Labor Costs Per Hour
                                                        </label>
                                                        <input
                                                            class="border-brand-green montserrat border rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            formControlName="labour_cost_per_hour" type="number"
                                                            (change)="onChange_labour_cost_per_hour($event)"
                                                            placeholder="$0.00">
                                                        <div
                                                            *ngIf="f.labour_cost_per_hour.touched && f.labour_cost_per_hour.invalid">
                                                            <span class="error-text"
                                                                *ngIf="f.labour_cost_per_hour.errors?.min">
                                                                {{'Enter positive number!'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between bg-white rounded-xl mt-4 w-full lg:w-5/12 h-16">
                                        <p class="text-gray-800 montserrat text-base lg:text-lg font-medium py-4 px-3">
                                            Production Cost Per Hour</p>
                                        <p
                                            class="text-gray-800 montserrat text-base lg:text-lg font-medium py-4 px-3 text-right border-l-2">
                                            $0.00</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>