/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* colors */
.text-brand-green{
    color:#2BB673;
}
.bg-brand-green{
    background-color:#2BB673;
}
.bg-brand-gray{
    background:#F4F4F4;
}
.bg-brand-darkgray{
    background:#bfbfbf;
}
.gray-brand-text{
    color:#7E7E7F;
}
.text-gray-brand{
    color: #414042;
}
.border-brand-green{
    border-color:#2BB673;
}
.bg-brand-black{
    background-color:#414042;
}
/* end */

/* dropdown */
.right-dropdown{
    position: absolute;
    margin-top: -80px !important;
    margin-left: 260px;
    z-index: 10000000000000000000000000 !important;
}
.right-dropdown:before {
    position: absolute;
    top: 40px;
    left: -14px;
    transform: rotate(-90deg);
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    content: '';
}
.right-dropdown:after {
    position: absolute;
    top: 40px;
    left: -14px;
    transform: rotate(-90deg);
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    content: '';
}
/* end */
.input-brand  {
    width: 100% !important;
    box-sizing: border-box !important;
    border: 3px solid transparent !important;
    transition: 0.5s !important;
    outline: none !important;
  }
.input-brand:focus {
    border-top:3px solid white !important;
    border-left:3px solid white !important;
    border-right:3px solid white !important;    
    border-bottom: 3px solid #2BB673 !important;
}
/* fonts Montserrat */
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.focus-outline:focus{
    border-bottom: #2BB673;
}
/* login */
body{
    background:#F4F4F4 !important;
    font-family: 'Montserrat', sans-serif !important;
}
.sidebar-text:hover{
    color: white !important;
    background:#2BB673;
    transition: all 0.3s ease-in-out;
}
.active-sidebar{
    color: white !important;
    background:#2BB673;
}
.active-text{
    color:#2BB673;
}
/* placeholder-text */

.placeholder-text::placeholder{
    font-weight: 600 !important;
    color:#a2a2a5 !important;
}
/* dashboard page */

/* step-load */
.step-load{
    width:100%;
    height:15px;
    margin-top: 10px;
    border-top: 3px solid #ececec;
}
.progress-bar{
    width:100%;
    background:#e9e4e4 ;
    border: 1px solid #F4F4F4 ;
}
.progress-green{
    height:2px;
    width:35%; 
    background:#2BB673;
}
.progress-green8{
    height:2px;
    width:44%; 
    background:#2BB673;
}
.progress-green3{
    height:2px;
    width:74%; 
    background:#2BB673;
}

.circle-step{
    height:66px;
    width: 66px;
    border-radius: 100%;
    border:2px solid #bfbfbf;
}
.circle-stes{
    height:66px;
    width: 66px;
    border-radius: 100%;
    border:2px solid #2BB673;
}
.green-dot{
    position:absolute;
    background:#2BB673;
    height:10px;
    width:10px;
    border-radius:100%;
    margin-top:-2px;
    margin-left: 55px;
}
.green-dot-25{
    position:absolute;
    background:#2BB673;
    height:10px;
    width:10px;
    border-radius:100%;
    margin-top:56px;
    margin-left: 113px;
}
.green-dot-40{
    position:absolute;
    background:#2BB673;
    height:10px;
    width:10px;
    border-radius:100%;
    margin-top:75px;
    margin-left: 109px;
}
.green-dot-75{
    position:absolute;
    background:#2BB673;
    height:10px;
    width:10px;
    border-radius:100%;
    margin-top:50px;
    margin-left:-3px;
}
.bullet-border{
    height:7px;
    width:7px;
    border-radius:100%;
    border:2px solid #2BB673;
}
.bg-steps:hover{
    transition: all 0.3s ease-in-out;
    background:#d5f9ee;
}
.bg-steps:hover .bullet-border{
    background:#2BB673;
    transition: all 0.3s ease-in-out;   
}








/* progress bar */

 
 
.progress--circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ddd;
  }
  .progress--circle:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
  }
  .progress--circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ddd;
  }
  .progress__number {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    width: 100%;
    line-height: 1;
    margin-top: -0.75rem;
    text-align: center;
    font-size: 24px;
    color: #414042;
  }
   
   
  /**
   * $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
   */
   
   
  .progress--bar.progress--25:after {
    width: 25%;
  }
  .progress--circle.progress--25:after {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(180deg, #2BB673 50%, #ddd 50%, #ddd);
  }

  /* 4 steps */
     
  .progress--bar.progress--40:after {
    width: 40%;
  }
  .progress--circle.progress--40:after {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(180deg, #2BB673 66%, #ddd 50%, #ddd);
  }

/* 9 steps */

.progress--bar.progress--75:after {
    width: 75%;
}
.progress--circle.progress--75:after {
    background-image: linear-gradient(0deg, #2BB673 50%, transparent 50%, transparent), linear-gradient(270deg, #2BB673 50%, #ddd 50%, #ddd);
}
   
/* media query */
@media screen and (max-width: 768px) {
    .table-size{
        width: 900px !important;
    }
    .table-size-col{
        width: 900px !important;
    }
}
@media screen and (max-width: 700px) {
        /* dropdown */
    .right-dropdown{
        position: absolute;
        margin-top: 20px !important;
        margin-left: 0px !important;
        z-index: 10000000000000000000000000 !important;
    }
}
@media screen and (min-width: 500px) {
    .small-text{
      font-size:10px !important;
    }
    .profile{
        background:#bfbfbf;
        height: 50px !important;
        width:  50px !important;
        border-radius: 100%;
    }
    
}
@media screen and (max-width: 420px) {
    .small-text{
      font-size:10px !important;
    }
    .profile{
        background:#bfbfbf;
        height: 45px !important;
        width:  45px !important;
        border-radius: 100%;
    }

}
.dropdown-collection:hover .dropdown-menu-collection {
    display: block;
}

/* select */
/* Reset Select */
.select-select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
}
/* Remove IE arrow */
.select-select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    height: 2em;
    background: white;
    border:1px solid #2BB673;
    overflow: hidden;
    border-radius: 30px;
}
.select-select {
    flex: 1;
    padding: 0 .5em;
    color: #bfbfbf;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding:2px 6px;
    background:white;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
/* Transition */
.select::after {
    color: #2BB673;
}
.toggleB:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }
  

/* dropdown with input */
.text {
    display: table;
    margin: 20px auto;
  }
   
  
  .t-dropdown-list {
    display: none;
    background-color: #FFF;
    border: 1px solid #DDD;
    z-index: 10;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .3);
    list-style: none;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 230px !important;
    overflow: auto;
    position: absolute;
    margin-top: 10px;
  }
  
  .t-dropdown-item {
    padding: 5px 20px;
    margin: 0;
    cursor: pointer;
  }
  
  .t-dropdown-item:hover {
    background-color: #F1F1F1;
  }
  
  .t-dropdown-select {
  
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
    box-sizing: content-box;
  }
  
  .select::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding:2px 6px;
      background:white;
      cursor: pointer;
      pointer-events: none;
      transition: .25s all ease;
  }

  .ingredient-title{
      outline: none;
      background: transparent;
  }

  .dashboard-text{
      max-width: 300px;
  }