<div class="col-span-12 lg:col-span-1">
    <div class=" bg-white rounded-2xl">
        <div class="border-b">
            <p
                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                Account</p>
        </div>
        <div class="border-b">
            <p
                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 active-text cursor-pointer">
                Facility & Labor</p>
        </div>
        <div class="border-b">
            <p class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer"
                routerLink="/merchant-fee">Merchant</p>
        </div>
        <div class="border-b">
            <p
                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                Decimals & Round Ups</p>
        </div>
        <div class="border-b">
            <p
                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                Privacy & Security</p>
        </div>
        <div class="border-b">
            <p
                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                About</p>
        </div>
        <div class="">
            <p
                class="text-gray-brand montserrat text-lg font-medium py-6 px-6 cursor-pointer">
                Help</p>
        </div>
    </div>
</div>