<section>
    <!-- component -->
    <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
        <app-main-menu></app-main-menu>
        <!-- body -->
        <section id="body" class="w-full">
            <div class="container px-4 lg:px-10 py-8">
                <app-header></app-header>
                <!-- dashboard body -->
                <section>
                    <form [formGroup]="ingredientsForm" (ngSubmit)="handelIngredientSubmit()">
                        <div class="dashboard-body mt-12">
                            <div>
                                <a routerLink="/ingredient-list" class="block px-4 py-2 mt-2 text-sm font-medium text-gray-900 montserrat rounded-lg "
                                    href="#"> <i class="fas fa-angle-left mr-3 text-brand-green"></i>
                                    Ingredients</a>
                            </div>
                            <div>
                                <div class="dashboard-text mt-4">
                                    <div class="form-group mb-3">
                                        <input placeholder="Untitled Ingredient" formControlName="ingredient_name"
                                            class="form-control ingredient-title" />
                                        <div *ngIf="f.ingredient_name.touched && f.ingredient_name.invalid">
                                            <span class="error-text" *ngIf="f.ingredient_name.errors?.required">{{'It is required!'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="grid grid-cols-1 lg:grid-cols-2">
                                        <div class="flex flex-col lg:flex-row justify-end" *ngIf="saved">
                                            <div class="mt-4">
                                                <p
                                                    class="montserrat text-brand-green text-base font-semibold text-right">
                                                    Saved
                                                    <i class="fas fa-check-circle"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="flex flex-col lg:flex-row justify-end" *ngIf="!saved">
                                            <button type="button"
                                                class="montserrat border-2 shadow border-black rounded-full w-full lg:w-1/5 h-12 mr-4 mt-5">Cancel</button>
                                            <button
                                                class="montserrat text-brand-green bg-white rounded-full w-full lg:w-1/5 h-12 mt-5 shadow">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-col-1 lg:grid-cols-3 mt-4 gap-5">
                                <!-- coloumn-1 -->
                                <div class="col-span-1">
                                    <div class="flex justify-between bg-white rounded-xl mt-4 w-full">
                                        <div
                                            class="text-gray-800 montserrat text-base font-medium py-3 px-5 text-right border-r-2 ">
                                            <p class="pt-2">Supplier</p>
                                        </div>
                                        <div class="text-gray-800 montserrat text-base font-medium py-3 px-3">
                                            <input formControlName="supplier_name"
                                                class="border-brand-green montserrat border rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                                type="text" placeholder="Supplier Name">
                                                <div *ngIf="f.supplier_name.touched && f.supplier_name.invalid">
                                                    <span class="error-text" *ngIf="f.supplier_name.errors?.required">{{'It is required!'}}</span>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="bg-brand-darkgray rounded-xl mt-4 w-full h-72">
                                        <div class="flex justify-center">
                                            <input type="file" name="image_path" (change)="onFileSelected($event)"
                                                class="border-white border-2 text-white rounded-full w-10/12 h-9 mt-32" />
                                        </div>
                                    </div>
                                    <div class="bg-white rounded-xl mt-4 w-full">
                                        <div class="dropdown-collection inline-block relative">
                                            <button
                                                class="flex justify-between text-gray-700 font-semibold py-2 px-4 rounded">
                                                <p class="pt-2 text-gray-800 montserrat text-base font-medium">
                                                    Collections</p>
                                                <div class="ml-52">
                                                    <svg class="" width="24" height="24" viewBox="0 0 24 24">
                                                        <g fill="none">
                                                            <path d="M12,0A12,12,0,1,1,0,12,12,12,0,0,1,12,0Z"
                                                                stroke="none" />
                                                            <path
                                                                d="M 12 1.5 C 6.21027946472168 1.5 1.5 6.21027946472168 1.5 12 C 1.5 17.78972053527832 6.21027946472168 22.5 12 22.5 C 17.78972053527832 22.5 22.5 17.78972053527832 22.5 12 C 22.5 6.21027946472168 17.78972053527832 1.5 12 1.5 M 12 0 C 18.62742042541504 0 24 5.372579574584961 24 12 C 24 18.62742042541504 18.62742042541504 24 12 24 C 5.372579574584961 24 0 18.62742042541504 0 12 C 0 5.372579574584961 5.372579574584961 0 12 0 Z"
                                                                stroke="none" fill="#2bb673" />
                                                        </g>
                                                        <path id="More_Arrow" data-name="More Arrow"
                                                            d="M1302,3360l5.23,5.319,5.132-5.319"
                                                            transform="translate(-1295.181 -3349.738)" fill="none"
                                                            stroke="#2bb673" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="1.5" />
                                                    </svg>
                                                </div>
                                            </button>
                                            <ul
                                                class="dropdown-menu-collection absolute bg-white w-full rounded ml-3 hidden text-gray-700 pt-1 shadow-lg border-2">
                                                <li class=""><a class="py-2 px-4 block montserrat text-sm font-medium"
                                                        href="#">One</a></li>
                                                <li class=""><a class="py-2 px-4 block montserrat text-sm font-medium"
                                                        href="#">Two</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="flex justify-between bg-white rounded-xl mt-4 w-full">
                                        <div
                                            class="w-1/2 text-gray-800 montserrat text-base font-medium py-3 px-5 text-left border-r-2 ">
                                            <p class="pt-2">Inventory</p>
                                        </div>
                                        <div
                                            class="w-1/2 flex justify-center text-gray-800 montserrat text-base font-medium py-3 px-3">
                                            <input
                                                class="text-center border-brand-green montserrat border rounded-full w-7/12 py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                                type="text" placeholder="0">
                                        </div>
                                    </div>
                                    <div class=" bg-white rounded-xl mt-4 w-full">
                                        <div
                                            class="w-full text-gray-800 montserrat text-base font-medium py-3 px-5 text-left border-b-2 ">
                                            <p class="pt-2">Inventory</p>
                                        </div>
                                        <div class="flex">
                                            <div class=" w-1/2">
                                                <p class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                    Recipes</p>
                                                <p class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                    Products</p>
                                            </div>
                                            <div class=" w-1/2">
                                                <p class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                    0
                                                </p>
                                                <p class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                    0
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
                                        <!-- coloumn-2 -->
                                        <div>
                                            <div class="flex justify-between bg-white rounded-xl mt-4 w-full ">
                                                <div
                                                    class="text-gray-800 montserrat text-base font-medium py-3 px-5 text-right border-r-2 ">
                                                    <p class="pt-2">Brand</p>
                                                </div>
                                                <div class="text-gray-800 montserrat text-base font-medium py-3 px-3">
                                                    <input formControlName="brand"
                                                        class="border-brand-green montserrat border rounded-full w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                                        type="text" placeholder="Brand Name">
                                                        <div *ngIf="f.brand.touched && f.brand.invalid">
                                                            <span class="error-text" *ngIf="f.brand.errors?.required">{{'It is required!'}}</span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class=" bg-white rounded-xl mt-4 w-full">
                                                <div
                                                    class="w-full text-gray-800 montserrat text-base font-medium py-3 px-5 text-left border-b-2 ">
                                                    <p class="pt-2">Unit Measurement</p>
                                                </div>
                                                <div class="flex pt-4 pb-6 px-4">
                                                    <div class=" w-1/2">
                                                        <p
                                                            class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                            Type</p>
                                                        <p
                                                            class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                            Quantity</p>
                                                        <p
                                                            class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                            % Waste</p>
                                                        <p
                                                            class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                            Adj. Qty</p>
                                                    </div>
                                                    <div class=" w-1/2">
                                                        <div class="mt-3 select w-9/12">
                                                            <select class="select-select" name="select" id="slct">
                                                                <option selected disabled>Select</option>
                                                                <option value="1">OPTION-1</option>
                                                                <option value="2">OPTION-2</option>
                                                                <option value="3">OPTION-3</option>
                                                            </select>
                                                        </div>
                                                        <input formControlName="qty" (change)="onChange($event, 'qty')"
                                                            class="mt-3 border-brand-green montserrat border rounded-full w-9/12 py-1 px-1 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            type="text" placeholder="0">
                                                            <div *ngIf="f.qty.touched && f.qty.invalid">
                                                                <span class="error-text" *ngIf="f.qty.errors?.required">{{'It is required!'}}</span>
                                                            </div>
                                                        <input formControlName="waste" (change)="onChange($event, 'waste')"
                                                            class="mt-3 border-brand-green montserrat border rounded-full w-9/12 py-1 px-1 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            type="text" placeholder="0%">
                                                            <div *ngIf="f.waste.touched && f.waste.invalid">
                                                                <span class="error-text" *ngIf="f.waste.errors?.required">{{'It is required!'}}</span>
                                                            </div>
                                                        <p
                                                            class="mt-2 py-3 px-5 text-gray-400 montserrat text-base font-medium ">
                                                            {{ adjQty }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- coloumn-3 -->
                                        <div>
                                            <div class="flex bg-white rounded-xl mt-4 w-full ">
                                                <div
                                                    class="w-5/12 text-gray-800 montserrat text-base font-medium py-3 px-5 border-r-2 ">
                                                    <p class="pt-2">Price/Unit</p>
                                                </div>
                                                <div class="mx-auto pt-4">
                                                    <p class="montserrat text-center text-lg font-medium ">$    {{ perUnitPrice }}</p>
                                                </div>
                                            </div>
                                            <div class=" bg-white rounded-xl mt-6 w-full">
                                                <div
                                                    class="w-full text-gray-800 montserrat text-base font-medium py-3 px-5 text-left border-b-2 ">
                                                    <p class="pt-2">Unit Price</p>
                                                </div>
                                                <div class="flex p-4 border-b-2">
                                                    <div class=" w-1/2">
                                                        <p
                                                            class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                            Price</p>
                                                        <p
                                                            class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                            Sales Tax</p>
                                                        <p
                                                            class="py-3 px-5 text-gray-800 montserrat text-base font-medium ">
                                                            Add. Fees</p>
                                                    </div>
                                                    <div class=" w-1/2">
                                                        <input formControlName="price" (change)="onChange($event, 'price')"
                                                            class="mt-3 border-brand-green montserrat border rounded-full w-9/12 py-1 px-1 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            type="text" placeholder="$0.00">
                                                            <div *ngIf="f.price.touched && f.price.invalid">
                                                                <span class="error-text" *ngIf="f.price.errors?.required">{{'It is required!'}}</span>
                                                            </div>
                                                        <input formControlName="sales_tax"
                                                            class="mt-3 border-brand-green montserrat border rounded-full w-9/12 py-1 px-1 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            type="text" placeholder="$0.00">
                                                            <div *ngIf="f.sales_tax.touched && f.sales_tax.invalid">
                                                                <span class="error-text" *ngIf="f.sales_tax.errors?.required">{{'It is required!'}}</span>
                                                            </div>
                                                        <input formControlName="additional_fees"
                                                            class="mt-3 border-brand-green montserrat border rounded-full w-9/12 py-1 px-1 text-gray-700 focus:outline-none focus:shadow-outline"
                                                            type="text" placeholder="$0.00">
                                                            <div *ngIf="f.additional_fees.touched && f.additional_fees.invalid">
                                                                <span class="error-text" *ngIf="f.additional_fees.errors?.required">{{'It is required!'}}</span>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="flex justify-end w-full text-gray-800 montserrat text-base font-medium py-3 px-5 text-left">
                                                    <p class="pt-2">Total Price</p>
                                                    <button
                                                        class="mt-1 bg-brand-black montserrat h-8 text-white w-1/4 rounded-full ml-3">$ {{ totalPrice }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-1 gap-5">
                                        <!-- coloumn-2 -->
                                        <div>
                                            <div class=" bg-white rounded-xl mt-4 w-full">
                                                <div
                                                    class="w-full text-gray-800 montserrat text-base font-medium py-3 px-5 text-left border-b-2">
                                                    <p class="pt-2">Product Description</p>
                                                </div>
                                                <div class="pt-6 pb-7 px-8">
                                                    <textarea formControlName="product_description"
                                                        class="border-brand-green montserrat border rounded-md w-full py-4 px-5 text-gray-700 focus:outline-none focus:shadow-outline"
                                                        placeholder="Enter Description" cols="30" rows="6"></textarea>
                                                        <div *ngIf="f.product_description.touched && f.product_description.invalid">
                                                            <span class="error-text" *ngIf="f.product_description.errors?.required">{{'It is required!'}}</span>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </section>
            </div>
        </section>

    </div>

</section>