/* colors */
.text-brand-green{
    color:#2BB673;
}
.bg-brand-green{
    background-color:#2BB673;
}
.bg-brand-gray{
    background:#F4F4F4;
}
.bg-brand-darkgray{
    background:#bfbfbf;
}
.gray-brand-text{
    color:#7E7E7F;
}
.text-gray-brand{
    color: #414042;
}
.border-brand-green{
    border-color:#2BB673;
}
/* end */

/* dropdown */
.right-dropdown{
    position: absolute;
    margin-top: -80px !important;
    margin-left: 260px;
    z-index: 10000000000000000000000000 !important;
}
.right-dropdown:before {
    position: absolute;
    top: 40px;
    left: -14px;
    transform: rotate(-90deg);
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
 
    content: '';
  }
 
 .right-dropdown:after {
     position: absolute;
     top: 40px;
     left: -14px;
     transform: rotate(-90deg);
     display: inline-block;
     border-right: 10px solid transparent;
     border-bottom: 10px solid white;
     border-left: 10px solid transparent;
     content: '';
   }
/* end */
.input-brand  {
    width: 100% !important;
    box-sizing: border-box !important;
    border: 3px solid transparent !important;
    transition: 0.5s !important;
    outline: none !important;
  }
.input-brand:focus {
    border-top:3px solid white !important;
    border-left:3px solid white !important;
    border-right:3px solid white !important;    
    border-bottom: 3px solid #2BB673 !important;
}
/* fonts Montserrat */
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.focus-outline:focus{
    border-bottom: #2BB673;
}
/* login */
body{
    background:#F4F4F4 !important;
    font-family: 'Montserrat', sans-serif !important;
}
.sidebar-text:hover{
    color: white !important;
    background:#2BB673;
    transition: all 0.3s ease-in-out;
}
.active-sidebar{
    color: white !important;
    background:#2BB673;
}
.active-text{
    color:#2BB673;
}
.profile{
    background:#bfbfbf;
    height: 50px;
    width:  50px;
    border-radius: 100%;
}
/* placeholder-text */

.placeholder-text::placeholder{
    font-weight: 600 !important;
    color:#7E7E7F;
}
/* dashboard page */

/* step-load */
.step-load{
    width:100%;
    height:15px;
    margin-top: 10px;
    border-top: 3px solid #ececec;
}
.progress-bar{
    width:100%;
    background:#e9e4e4 ;
    border: 1px solid #F4F4F4 ;
}
.progress-green{
    height:2px;
    width:35%; 
    background:#2BB673;
}

.circle-step{
    height:66px;
    width: 66px;
    border-radius: 100%;
    border:2px solid #bfbfbf;
}
.circle-stes{
    height:66px;
    width: 66px;
    border-radius: 100%;
    border:2px solid #2BB673;
}
.green-dot{
    position:absolute;
    background:#2BB673;
    height:10px;
    width:10px;
    border-radius:100%;
    margin-top:-2px;
    margin-left: 55px;
}
.green-dot-25{
    position:absolute;
    background:#2BB673;
    height:10px;
    width:10px;
    border-radius:100%;
    margin-top:56px;
    margin-left: 113px;
}
.bullet-border{
    height:7px;
    width:7px;
    border-radius:100%;
    border:2px solid #2BB673;
}
.bg-steps:hover{
    transition: all 0.3s ease-in-out;
    background:#d5f9ee;
    cursor: pointer;
}
.bg-steps:hover .bullet-border{
    background:#2BB673;
    transition: all 0.3s ease-in-out;   
}








/* progress bar */

 
 
.progress--circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ddd;
  }
  .progress--circle:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
  }
  .progress--circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ddd;
  }
  .progress__number {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    width: 100%;
    line-height: 1;
    margin-top: -0.75rem;
    text-align: center;
    font-size: 24px;
    color: #414042;
  }
   
   
  /**
   * $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
   */
   
   
  .progress--bar.progress--25:after {
    width: 25%;
  }
  .progress--circle.progress--25:after {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(180deg, #2BB673 50%, #ddd 50%, #ddd);
  }
   
  