<section>
    <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
        <app-sidebar></app-sidebar>
        <!-- body -->
        <section id="body" class="w-full">
            <div class="container px-10 py-8">
                <app-header></app-header>
                <!-- dashboard body -->
                <div class="dashboard-body mt-12">
                    <div class="dashboard-text">
                        <p class="text-gray-brand montserrat text-3xl font-semibold">Hi, Maile! Welcome to your
                            dashboard
                        </p>
                    </div>
                    <div class="grid grid-col-1 lg:grid-cols-3 mt-8 gap-3">
                        <div class="col-span-2">
                            <div class="bg-white rounded-xl w-full">
                                <div class="flex justify-between w-full border-b-2 p-6">
                                    <p class="montserrat font-medium text-gray-brand">Let's Get Started</p>
                                    <div class="flex w-1/2">
                                        <p class="w-full montserrat font-medium text-brand-green text-xs lg:text-sm">12
                                            Steps Remaining</p>
                                        <div class="step-load hidden lg:block"></div>
                                    </div>
                                </div>
                                <div class="grid grid-col-1 lg:grid-cols-3 gap-3 mt-8 px-6 pb-8">
                                    <div class="col-span-1">
                                        <div>
                                            <p class="montserrat font-semibold text-gray-brand text-sm">Set your
                                                Business Up
                                                for Profit</p>
                                            <p class="montserrat font-medium text-gray-brand text-xs">Create your first
                                                product to calculate your profit and prepare for fullfilment.</p>
                                        </div>
                                        <div class="progress--circle">
                                            <div class="green-dot"></div>
                                            <div class="progress__number">0/12</div>
                                        </div>
                                    </div>
                                    <div class="col-span-2">
                                        <!-- steps 1 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4"
                                            routerLink="/facility-labour">
                                            <div class="flex justify-between ">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Add your facility and labour costs</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-48 lg:w-1/3 text-xs text-white rounded-2xl">Add
                                                    Assembly Costs</button>
                                            </div>
                                        </div>
                                        <!-- steps 2 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5"
                                            routerLink="/merchant-fee">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Add your Merchant <br class="block lg:hidden"> Fee</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Add
                                                    Merchant Fee</button>
                                            </div>
                                        </div>
                                        <!-- steps 3 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5"
                                            routerLink="/ingredient-and-material">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Add your Product ingredients</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-44 lg:w-1/3 text-xs text-white rounded-2xl">Add
                                                    Ingredients</button>
                                            </div>
                                        </div>
                                        <!-- steps 4 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5" routerLink="/add-material">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Add your Product <br class="block lg:hidden"> Material</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Add
                                                    Material</button>
                                            </div>
                                        </div>
                                        <!-- steps 5 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Create your Recipe</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Create
                                                    Recipe</button>
                                            </div>
                                        </div>
                                        <!-- steps 6 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Add recipe assembly <br class="block lg:hidden"> time</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Assemble
                                                    Recipe</button>
                                            </div>
                                        </div>
                                        <!-- steps 7 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Create your product packaging</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 px-4 lg:px-0 w-44 lg:w-1/3 text-xs text-white rounded-2xl">Create
                                                    Packaging</button>
                                            </div>
                                        </div>
                                        <!-- steps 8 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Add item assembly <br class="block lg:hidden"> time</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Assembly
                                                    Packaging</button>
                                            </div>
                                        </div>
                                        <!-- steps 9 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Add product assembly time</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Assembly
                                                    Product</button>
                                            </div>
                                        </div>
                                        <!-- steps 10 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Create your Product</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Create
                                                    Product</button>
                                            </div>
                                        </div>
                                        <!-- steps 11 -->
                                        <div class="bg-steps border-brand-green border rounded-lg py-2 px-4 mt-5">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Complete Account <br class="block lg:hidden"> Setup</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Complete
                                                    Account</button>
                                            </div>
                                        </div>
                                        <!-- steps 12    -->
                                        <div class="bg-steps border-brand-green border rounded-lg p-2 mt-5">
                                            <div class="flex justify-between">
                                                <div class="flex">
                                                    <div class="bullet-border mt-2 lg:mt-3 mr-2"></div>
                                                    <p
                                                        class="montserrat mt-1 font-medium text-gray-brand text-xs lg:text-sm">
                                                        Prepare a fullfilment <br class="block lg:hidden"> Order</p>
                                                </div>
                                                <button
                                                    class="bg-brand-green py-2 w-40 lg:w-1/3 text-xs text-white rounded-2xl">Prepare
                                                    Fullfilment</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-2 lg:col-span-1">
                            <div class=" bg-white rounded-2xl">
                                <div class="border-b">
                                    <p class="text-gray-brand montserrat text-lg font-medium py-6 px-6">Recent Activity
                                    </p>
                                </div>
                                <div class="border-b">
                                    <div class="py-8 px-6">
                                        <p class="text-gray-brand montserrat text-base font-semibold ">No Activity</p>
                                        <p class="text-gray-brand montserrat text-sm font-medium mt-3">Complete the
                                            tasks on
                                            the left set up your account</p>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="py-12 px-6">

                                    </div>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl mt-8">
                                <div class="border-b">
                                    <p class="text-gray-brand montserrat text-lg font-medium py-6 px-6">Inventory
                                        Updates
                                    </p>
                                </div>
                                <div class="border-b">
                                    <div class="py-8 px-6">
                                        <p class="text-gray-brand montserrat text-base font-semibold ">No Inventory</p>
                                        <p class="text-gray-brand montserrat text-sm font-medium mt-3"><a href="#"
                                                class="text-brand-green underline">Set up</a> your ingredients,
                                            materials,
                                            and products to see your inventory updates here.</p>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="py-12 px-6">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</section>