<section>
    <!-- component -->
    <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
        <app-main-menu></app-main-menu>
        <!-- body -->
        <section id="body" class="w-full">
            <div class="container px-4 lg:px-10 py-8">
                <section id="dashboard-header">
                    <!-- dashboard header-body -->
                    <div class="flex justify-between">
                        <!-- 1st col -->
                        <div class="hidden lg:flex">
                            <!-- search bar -->
                            <div class="pt-2 relative mx-auto text-gray-600 " style="width:350px;" >
                                <input class=" bg-white h-10 w-full px-5 pr-16 py-3 rounded-lg text-sm focus:outline-none placeholder-text" type="search" name="search" placeholder="Search">
                                <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                                    <svg class="text-black h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                        width="512px" height="512px">
                                        <path
                                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                                    </svg>
                                </button>
                            </div>
                            <!-- achor link -->
                            <a class="block pl-10 py-2 mt-2 text-lg font-semibold text-gray-600 montserrat rounded-lg " href="#">Updates</a>
                            <a class="block px-10 py-2 mt-2 text-lg font-semibold text-gray-600 montserrat rounded-lg " href="#">Help</a>
                            
                        </div>
                        <!-- 2nd col -->
                        <div class="hidden lg:flex">
                            <div class="">
                                <div x-data="{ dropdownOpen: false }" class="relative ">
                                    <button click="dropdownOpen = !dropdownOpen" class="mt-2    relative z-10 flex rounded-md p-2 font-semibold text-gray-600 montserrat rounded-lg focus:outline-none">
                                        Maile Swint
                                        <svg class="h-5 w-5 text-gray-800 ml-4 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                    <div x-show="dropdownOpen" click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>
                                
                                    <div x-show="dropdownOpen" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
                                        <a href="#" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg sidebar-text">Your profile</a>
                                        <a href="#" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg sidebar-text"> Sign Out</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile">
                                <p class="text-white text-lg font-semibold montserrat text-center pt-3">MS</p>    
                            </div>
                        </div>
                    </div>
                    <!-- for mobile -->
                    <div class="block lg:hidden">
                        <!-- 1st row -->
                        <div class="flex-row">
                            <!-- search bar -->
                            <div class="pt-2 relative mx-auto text-gray-600" >
                                <input class=" bg-white h-10 w-full px-5 pr-16 py-3 rounded-lg text-sm focus:outline-none placeholder-text" type="search" name="search" placeholder="Search">
                                <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                                    <svg class="text-black h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                        width="512px" height="512px">
                                        <path
                                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <!-- 2nd row -->
                        <div class=" ">
                            <div class="flex flex-row px-6 py-6">
                                <!-- achor link -->
                                <a class="block pr-5 py-2 mt-2 text-xs sm:text-sm font-semibold text-gray-600 montserrat rounded-lg " href="#">Updates</a>
                                <a class="block pr-5 py-2 mt-2 text-xs sm:text-sm font-semibold text-gray-600 montserrat rounded-lg " href="#">Help</a>
                                <div x-data="{ dropdownOpen: false }" class="relative pr-5">
                                    <button click="dropdownOpen = !dropdownOpen" class="mt-2 relative z-10 text-xs sm:text-sm flex rounded-md p-2 font-semibold text-gray-600 montserrat rounded-lg focus:outline-none">
                                        Maile Swint
                                        <svg class="h-5 w-5 text-gray-800 ml-2 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                
                                    <div x-show="dropdownOpen" click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>
                                
                                    <div x-show="dropdownOpen" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
                                        <a href="#" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg sidebar-text">Your profile</a>
                                        <a href="#" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-600 montserrat rounded-lg sidebar-text"> Sign Out</a>
                                    </div>
                                </div>
                                <div class="profile">
                                    <p class="h-16 w-16  text-white text-lg font-semibold montserrat text-center pt-2 pr-4">MS</p>    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- dashboard body -->
                <section>
                    <div class="dashboard-body mt-12">

                        <div class="grid grid-cols-2 dashboard-text mt-4">
                            <p class="text-gray-brand montserrat text-lg md:text-3xl font-medium">Materials <span class="text-gray-300">{{materialList.length}}</span></p>
                            <div class="flex justify-end">
                                <button>
                                    <svg width="168" height="50" viewBox="0 0 168 50">
                                        <rect routerLink="/add-material" width="50" height="50" rx="25" transform="translate(118)" fill="#2bb673"/>
                                        <g transform="translate(-1012.277 -181.277)">
                                          <line x2="14" transform="translate(1148.277 206.277)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1.5"/>
                                          <line id="Line_4" data-name="Line 4" y1="14" transform="translate(1155.277 199.277)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1.5"/>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="">
                            <div style="overflow-x:auto;">
                                <div class="bg-white py-2 px-2 rounded-t-2xl w-full grid grid-cols-2">
                                    <div>
                                        <label class="mt-4 inline-flex items-center text-black text-base font-medium montserrat">
                                        <input type="checkbox" class="form-checkbox">
                                        <span class="ml-2">Select All</span>
                                        </label>
                                    </div>
                                    <div>
                                        <div class="flex justify-end">
                                            <p class="text-base mr-5 font-medium montserrat mt-4">Filter By</p>
                                            <select class="mt-2 rounded-full p-1 border-2 text-black text-base font-medium montserrat">
                                                <option>All</option>
                                                <option>No</option>
                                                <option>Maybe</option>
                                            </select>
                                            <div class="pt-2 ml-6 relative text-gray-600">
                                                <button type="submit" class="absolute left-0 top-0 mt-5 ml-4">
                                                    <svg class="text-black h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                                        width="512px" height="512px">
                                                        <path
                                                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                                                    </svg>
                                                </button>
                                                <input class="border-2 rounded-full bg-white h-10 w-full pl-10 py-3 text-sm focus:outline-none placeholder-text" type="search" name="search" placeholder="Search">
                                            </div>
                                        </div>
                            
                                    </div>
                                </div>
                                <table class="w-full table-size">
                                    <tr class="text-sm text-left montserrat font-medium h-12 w-full">
                                        <td style="width:15%;"></td>
                                        <td style="width:25%;" >Name</td>
                                        <td style="width:15%;" >Supplier</td>
                                        <td style="width:10%;" >Nt Wt / Qty</td>
                                        <td style="width:10%;" >Unit</td>
                                        <td style="width:10%;" >Total Price</td>
                                        <td style="width:10%;" >Price / Unit </td>
                                        <td style="width:13%;" ></td>
                                    </tr>
                                    <tr class="w-full bg-white text-sm text-left montserrat font-medium h-12" *ngFor="let mat of materialList">
                                        <td class="">
                                            <div>
                                                <label class="px-2 inline-flex items-center text-black text-base font-medium montserrat">
                                                    <input type="checkbox" class="form-checkbox">
                                                    <img src="../images/Product Image-sm.png" class="img-fluid ml-5" alt="">
                                                </label>
                                            </div>
                                            <div>
                                               
                                            </div>
                                        </td>
                                        <td style="width:25% !important;" >{{mat.material_name}}</td>
                                        <td >{{mat.supplier_name}}</td>
                                        <td >{{mat.qty}}</td>
                                        <td >{{mat.unit_name}}</td>
                                        <td >{{mat.total_price}}</td>
                                        <td >{{mat.price_per_unit}}</td>
                                        <td>
                                            <button>    
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                                    <g id="More_Button" data-name="More Button" opacity="0.997">
                                                    <path id="Path_402" data-name="Path 402" d="M25,0A25,25,0,0,1,41.485,43.8,24.724,24.724,0,0,1,25,50,25,25,0,0,1,25,0Z" fill="#fff"/>
                                                    <rect id="Rectangle_586" data-name="Rectangle 586" width="40" height="18" rx="9" transform="translate(5 16)" fill="#fff" opacity="0"/>
                                                    <g id="Group_8" data-name="Group 8" transform="translate(-950.5 -351.5)">
                                                        <circle id="Ellipse_8" data-name="Ellipse 8" cx="2.5" cy="2.5" r="2.5" transform="translate(984 374)" fill="#2bb673"/>
                                                        <circle id="Ellipse_9" data-name="Ellipse 9" cx="2.5" cy="2.5" r="2.5" transform="translate(973 374)" fill="#2bb673"/>
                                                        <circle id="Ellipse_10" data-name="Ellipse 10" cx="2.5" cy="2.5" r="2.5" transform="translate(962 374)" fill="#2bb673"/>
                                                    </g>
                                                    </g>
                                                </svg>                                                      
                                            </button>                                                  
                                        </td>
                                    </tr>
                                </table>
                              </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>

